/* article */
.article{
    background-color: #fdeff8;
}

.fix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:180px auto;
}

.icn_fix{
    width: 200px;
    height: 200px;
}

.fix_word{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:36px;
    color:#C91B68;
}

@media(max-width:768px){

    .icn_fix{
        width: 150px;
        height: 150px;
    }

    .fix_word{
        font-size:30px;
    }
}