/* global */
html{
    max-width: 100%;
    min-width: 1280px;
    margin:0 auto;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;  
  }

.nav_list_item a,a:link,a:visited{
    text-decoration:none;
    transition: color 0.3s;
    color:#FFFFFF;
}

.nav_list_item a:hover{
    transition: color 0.3s;
    color:#6b0139;
}

.container{
    display:flex;
    flex-direction: column;
}

/* header */
.logo{
    display:block;
    position: absolute;
    left:106px;
    top:-60px;
    width: 260px;
    height: 260px;
    z-index:9;
    transform:scale(1,1);
    transition: all 0.3s ease-out;
}

.logo:hover{
    transform:scale(1.2,1.2);
}

.header_animate{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:140px;
    border:0;
    z-index:0;
}

/* contatct */
.contact{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:60px;
    right:120px;
    z-index:9;
}

.ig{
    width: 30px;
    height: 30px;
}

.fb{
    width: 30px;
    height: 30px;
    margin-left:15px;
}

.yt{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
/* nav */
.nav{
    display:flex;
    align-items: center;
    position: sticky;
    margin-top:140px;
    top: 0;
    left: 0;
    background-color: #C91B68;
    width:100%;
    height: 36px;
    z-index:9;
}

.nav_list{
    display:flex;
    flex-direction: row;
    list-style:none;
    margin-left:150px;
}

.nav_list_item{
    color:#FFFFFF;
    padding:0;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:18px;
    margin-right:55px;
}

/* profile */
.profile{
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile_word{
    position: absolute;;
    z-index:999;
    font-size:120px ;
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-weight: 900;
}

.GEGEU3U{
    position:relative;
    display:block;
    width: 100%;
    z-index:99;
}

/* introduction */
.introduction{
    position:relative;
    height: 920px;
    width:100%;
    background-color: #fdeff8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* gege */
.gege{
    position: relative;
    display: flex;
}

.gege_img{
    position: relative;
    width:200px;
    height:200px;
    border-radius: 50%;
    transform:scale(1,1);
    transition: all 0.3s ease-out;
}

.gege_img:hover{
    transform:scale(1.2,1.2);
}

.gege_text{
    margin-left:100px;
}

.gege_title{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:36px;
}

.gege_word{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size:18px;
    padding:30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 560px;
    height: 100px;
}

/* shan */
.shan{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top:100px;
}

.shan_img{
    position: relative;
    width:200px;
    height:200px;
    border-radius: 50%;
    transform:scale(1,1);
    transition: all 0.3s ease-out;
}

.shan_img:hover{
    transform:scale(1.2,1.2);
}

.shan_text{
    margin-right:100px;
}

.shan_title{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:36px;
}

.shan_word{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size:18px;
    padding:30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 560px;
    height: 100px;
}

/* nav_bottom */
.nav_bottom{
    display:flex;
    align-items: center;
    position: relative;
    background-color: #C91B68;
    width:100%;
    height: 36px;
    z-index:9;
    border-bottom: white 1px solid
}

.nav_list_bottom{
    display:flex;
    flex-direction: row;
    list-style:none;
    margin-left:150px;
}

.nav_list_item_bottom{
    color:#FFFFFF;
    padding:0;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:18px;
    margin-right:55px;
}

/* foooter */
.footer{
    position: relative;
    background-color:  #C91B68;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer_ge3{
    position: relative;
    color: #FFFFFF;
    font-size:36px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    margin:30px 0 0 0;
}

.footer_word1{
    position: relative;
    color: #FFFFFF;
    font-size:12px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    margin:10px 0 0 0;
}

.footer_word2{
    color: #FFFFFF;
    font-size:12px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    margin:40px 0 30px 0;
}