/* profile */
.profile{
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile_word{
    position: absolute;
    z-index:999;
    font-size:120px ;
    color:#1E3F72;
    font-family: 'Titan One', cursive;
    font-weight: 900;
    text-shadow: -10px -10px 0 #FFF, 10px -10px 0 #FFF, -10px 10px 0 #FFF, 10px 10px 0 #FFF;
}

@media(max-width:1280px){
    .profile_word{
        font-size:100px ;
    }
}

@media(max-width:992px){
    .profile_word{
        font-size:80px ;
    }
}

@media(max-width:576px){
    .profile_word{
        font-size:60px ;
    }
}

.img_3g{
    width: 100%;
    opacity: 25%;
}

/* introduction */
.intro{
    width:100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
}

/* intro_common */
.intro_box{
    position: relative;
    display: flex;
    margin:100px 0 0 0;
}

/* intro_img */
.intro_img{
    display: flex;
    width:200px;
    height:200px;
    perspective: 1000px;
}

.intro_img_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.intro_img_f{
    border-radius: 50%;
    border:10px #eebbd2 solid;
}

.intro_img_b{
    border-radius: 50%;
    border:10px #eebbd2 solid;
}

/* intreo_img_flip */
.intro_img:hover .intro_img_inner {
    transform: rotateY(180deg);
  }

.intro_img_b {
    transform: rotateY(180deg);
}

.intro_img_f, .intro_img_b {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.intro_text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.intro_title{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:36px;
    margin:0;
}

.intro_word{
    display: inline-flex;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size:18px;
    padding:20px 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border:10px #eebbd2 dashed;
    max-width: 610px;
    margin:20px 0 0 0;
    line-height: 24px;
}

/* shan_box */
.shan_text{
    margin-left: 0px;
    margin-right: 50px;
}

/* intro_RWD */
@media(max-width:992px){
    .intro_box{
        flex-direction: column;
        align-items: center;
    }
    
    .intro_text{
        align-items: center;
        margin:10px 0 0 0;
    }

    .shan_box{
        flex-direction: column-reverse;
    }
}

