/* global */
html{
    min-width: 1280px;
    margin:0 auto;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;  
  }

.nav_list_item a,a:link,a:visited{
    text-decoration:none;
    transition: color 0.3s;
    color:#FFFFFF;
}

.nav_list_item a:hover{
    transition: color 0.3s;
    color:#6b0139;
}

.container{
    display:flex;
    flex-direction: column;
}

/* header */
.logo{
    display:block;
    position: absolute;
    left:120px;
    top:-60px;
    width: 260px;
    height: 260px;
    z-index:9;
    transform:scale(1,1);
    transition: all 0.3s ease-out;
}

.logo:hover{
    transform:scale(1.2,1.2);
}

/* contatct */
.contact{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:60px;
    right:120px;
}

.ig{
    width: 30px;
    height: 30px;
}

.fb{
    width: 30px;
    height: 30px;
    margin-left:15px;
}

.yt{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

/* article */
.article{
    position: relative;
    background-color: #FDE9F4;
    z-index: 99;
}

.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:1090px;
    margin:100px auto;
    justify-content: center;
}

/* block1 */
.block1{
    display: flex;
    width: 470px;
    height: 470px;
    /* 3D效果 */
    /* perspective: 1000px; */
}

.block1_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.block1_front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eebbd2;
    border-radius: 30px;
    margin:0;
}

.block1_day{
    position: absolute; 
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-size:36px;
    font-weight: 700px;
    letter-spacing: 2px;
}

.block1_back{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:30px;
    border-radius: 30px;
}

.block1_word{
    font-family: "Noto Sans TC",sans-serif;
    font-size:18px;
    font-weight: 300px;
    color:#C91B68;
    line-height: 24px;
}

/* block_flip */
.block1:hover .block1_inner {
    transform: rotateY(180deg);
  }

.block1_back {
    transform: rotateY(180deg);
}

.block1_front, .block1_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* block2 */
.block2{
    display: flex;
    width: 470px;
    height: 470px;
    margin:0 0 0 150px;
    /* 3D效果 */
    /* perspective: 1000px; */
}

.block2_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.block2_front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eebbd2;
    border-radius: 30px;
    margin:0;
}

.block2_day{
    position: absolute; 
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-size:36px;
    font-weight: 700px;
    letter-spacing: 2px;
}

.block2_back{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:30px;
    border-radius: 30px;
}

.block2_word{
    font-family: "Noto Sans TC",sans-serif;
    font-size:18px;
    font-weight: 300px;
    color:#C91B68;
    line-height: 24px;
}

/* block_flip */
.block2:hover .block2_inner {
    transform: rotateY(180deg);
  }

.block2_back {
    transform: rotateY(180deg);
}

.block2_front, .block2_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* block3 */
.block3{
    display: flex;
    width: 470px;
    height: 470px;
    margin:150px 0 0 0;
    /* 3D效果 */
    /* perspective: 1000px; */
}

.block3_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.block3_front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eebbd2;
    border-radius: 30px;
    margin:0;
}

.block3_day{
    position: absolute; 
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-size:36px;
    font-weight: 700px;
    letter-spacing: 2px;
}

.block3_back{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:30px;
    border-radius: 30px;
}

.block3_word{
    font-family: "Noto Sans TC",sans-serif;
    font-size:18px;
    font-weight: 300px;
    color:#C91B68;
    line-height: 24px;
}

/* block_flip */
.block3:hover .block3_inner {
    transform: rotateY(180deg);
  }

.block3_back {
    transform: rotateY(180deg);
}

.block3_front, .block3_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* block4 */
.block4{
    display: flex;
    width: 470px;
    height: 470px;
    margin:150px 0 0 150px;
    /* 3D效果 */
    /* perspective: 1000px; */
}

.block4_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.block4_front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eebbd2;
    border-radius: 30px;
    margin:0;
}

.block4_day{
    position: absolute; 
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-size:36px;
    font-weight: 700px;
    letter-spacing: 2px;
}

.block4_back{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:30px;
    border-radius: 30px;
}

.block4_word{
    font-family: "Noto Sans TC",sans-serif;
    font-size:18px;
    font-weight: 300px;
    color:#C91B68;
    line-height: 24px;
}

/* block_flip */
.block4:hover .block4_inner {
    transform: rotateY(180deg);
  }

.block4_back {
    transform: rotateY(180deg);
}

.block4_front, .block4_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* nav */
.nav{
    display:flex;
    align-items: center;
    position: sticky;
    margin-top:140px;
    top: 0;
    left: 0;
    background-color: #C91B68;
    width:100%;
    height: 36px;
    z-index:9;
}

.nav_list{
    display:flex;
    flex-direction: row;
    list-style:none;
    margin-left:150px;
}

.nav_list_item{
    color:#FFFFFF;
    padding:0;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:18px;
    margin-right:55px;
}

/* nav_bottom */
.nav_bottom{
    display:flex;
    align-items: center;
    position: relative;
    background-color: #C91B68;
    width:100%;
    height: 36px;
    z-index:9;
    border-bottom: white 1px solid
}

.nav_list_bottom{
    display:flex;
    flex-direction: row;
    list-style:none;
    margin-left:150px;
}

.nav_list_item_bottom{
    color:#FFFFFF;
    padding:0;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:18px;
    margin-right:55px;
}

/* foooter */
.footer{
    position: relative;
    background-color:  #C91B68;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer_ge3{
    position: relative;
    color: #FFFFFF;
    font-size:36px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    margin:30px 0 0 0;
}

.footer_word1{
    position: relative;
    color: #FFFFFF;
    font-size:12px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    margin:10px 0 0 0;
}

.footer_word2{
    color: #FFFFFF;
    font-size:12px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    margin:40px 0 30px 0;
}