/* article */
.article{
    position: relative;
    background-color: #fdeff8;
    z-index: 99;
}

/* blocks */
.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:1090px;
    margin:100px auto;
    justify-content: center;
}

.block{
    display: flex;
    width: 470px;
    height: 470px;
    /* 3D效果 */
    perspective: 1000px;
}

.block_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.block_front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eebbd2;
    border-radius: 30px;
    margin:0;
}

.block_day{
    position: absolute; 
    color:#FFFFFF;
    font-family: "Roboto Slab",serif;
    font-size:36px;
    font-weight: 700;
    letter-spacing: 2px;
}

.block_back{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:30px;
    border-radius: 30px;
}

.block_word{
    font-family: "Noto Sans TC",sans-serif;
    font-size:18px;
    font-weight: 300px;
    color:#6b0139;
    line-height: 24px;
}

/* block_flip */
.block:hover .block_inner {
    transform: rotateY(180deg);
  }

.block_back {
    transform: rotateY(180deg);
}

.block_front, .block_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* block2 */
.block2{
    margin:0 0 0 150px;
}

/* block3 */
.block3{
    margin:150px 0 0 0;
}

/* block4 */
.block4{
    margin:150px 0 0 150px;
}