/* article */
.article{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index:99;
    background-color: #fdeff8;
}

/* map */
.map{
    display: none;
    position: relative;
    width:100%;
    border:#FFFFFF solid 20px;
    border-radius: 30px;
    margin:0;
    z-index: 99;
}

/* video_block */
.video_block{
    width:100%;
    max-width: 900px;
    margin:0 auto;
    margin-top:50px;
}

.tour_video{
    width:100%;
    /* max-width:900px; */
    border:#FFFFFF solid 20px;
    border-radius: 30px;
    margin:0;
}

/* intro */
.intro{
    position: relative;
    width:100%;
    max-width: 900px;
    margin:30px auto;
    margin-bottom:50px;
}

.title{
    display:none;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:24px;
    line-height: 24px;
    margin:0;
    padding:15px 30px;
    border-radius: 30px;
    background-color: #eebbd2;
    color:#FFFFFF;
    letter-spacing: 2px;
}

.content{
    display: none;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size:18px;
    line-height: 30px;
    margin:20px 0 0 0;
    padding:20px 30px;
    border-radius: 30px;
    background-color: #FFFFFF;
}